@model CMS.ViewModels.PCMemberViewModels.LoginPCMemberViewModel


@{
    Layout = "";
}


<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")
</head>
<body>

    <br />
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-4">Login</h1>
                <div class="col-md-6 mx-auto">
                    <br />
                    @if (Model.Message != null)
                    {
                        if (Convert.ToBoolean(Model.Status))
                        {
                            <div class="alert alert-success">
                                <strong>Success!</strong>@Model.Message
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                <strong>Error!</strong>@Model.Message
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card rounded shadow-lg p-3 mb-5 bg-white">
                            <div class="card-body">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>Program Committee Member</h4>
                                        <hr />

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                            <br />
                                            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.RememberMe)
                                            @Html.LabelFor(model => model.RememberMe, new { @class = "form-check-label control-label" })
                                        </div>


                                        <div class="form-group">
                                            <input type="submit" value="Login" class="btn btn-primary" style="width: 100%;" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
