@model CMS.ViewModels.CallForPapersViewModels.CreateCallForPapersViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<link rel="stylesheet" href="//cdn.jsdelivr.net/chosen/1.1.0/chosen.css"/>
<script src="//cdn.jsdelivr.net/chosen/1.1.0/chosen.jquery.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CallForPapers</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
		    @Html.HiddenFor(model => model.callforpaper.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.callforpaper.Acronym, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.callforpaper.Acronym, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.callforpaper.Acronym, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.callforpaper.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.callforpaper.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.callforpaper.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.callforpaper.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.callforpaper.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.callforpaper.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.callforpaper.DeadlineAbstract, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.callforpaper.DeadlineAbstract, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.callforpaper.DeadlineAbstract, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.callforpaper.DeadlineProposal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.callforpaper.DeadlineProposal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.callforpaper.DeadlineProposal, "", new { @class = "text-danger" })
            </div>
        </div>

		@*<div class="form-group">
			@Html.LabelFor(model=>model.ListOfTopicId, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(x=>x.Topic_Id1,
				Model.SelectTopic,new { @class = "form-control chosen-select",@multiple = true })
			</div>
		</div>*@

		<div class="form-group">
			@Html.LabelFor(model => model.callforpaper.Topics, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(m => m.callforpaper.Topics, Model.callforpaper.Topics, "Select Topic", new { @class = "form-control" })*@
				@Html.ValidationMessageFor(model => model.callforpaper.Topics, "", new { @class = "text-danger" })
			</div>
		</div>



		<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
	<br />
}

<script>
	$('.chosen-select').chosen();
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
