@model CMS.ViewModels.CallForPapersViewModels.DetailsCallForPapersViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CallForPapers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.callforpaper.Acronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callforpaper.Acronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.callforpaper.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callforpaper.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.callforpaper.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callforpaper.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.callforpaper.DeadlineAbstract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callforpaper.DeadlineAbstract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.callforpaper.DeadlineProposal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.callforpaper.DeadlineProposal)
        </dd>

		<dt>
			@Html.DisplayName("Topic_Id")

		</dt>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.callforpaper.Id })*@ |
    @Html.ActionLink("Back to List", "Index")
</p>
