@model IEnumerable<CMS.Models.Author>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
@*<div>
		<div class="form-group">
			<input type="submit" value="Conferences" class="btn btn-primary" style="width: 100%;" />
		</div>
		<div class="form-group">
			<input type="submit" value="Paper" class="btn btn-primary" style="width: 100%;" />
		</div>
		<div class="form-group">
			<input type="submit" value="Abstract" class="btn btn-primary" style="width: 100%;" />
		</div>

	</div>*@

<input type="button" value="Conferences" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","conferences") + "'");" />
<input type="button" value="Paper" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","conferences") + "'");" />
<input type="button" value="Abstract" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("index","conferences") + "'");" />

be displayed information about coming up conferences
be displayed information about reviews that he received
be displayed information about deadlines for the papers for the conferences that he has signed up for

@*<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Username)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Password)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Affiliation)
			</th>
			<th></th>
		</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Username)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Password)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Affiliation)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
				@Html.ActionLink("Details", "Details", new { id=item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.Id })
			</td>
		</tr>*@


</table>
