@model CMS.ViewModels.AuthorViewModels.RegisterAuthorViewModel

@{
    Layout = "";
}

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")
</head>
<body>
    <br />
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-4"> Register </h1>
                <div class="col-md-6 mx-auto">
                    <br />
                        @if (Model.Message != null)
                        {
                            if (Convert.ToBoolean(Model.Status))
                            {
                                <div class="alert alert-success">
                                    <strong>Success!</strong>@Model.Message
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    <strong>Error!</strong>@Model.Message
                                </div> 
                            }
                        }
                </div>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card rounded shadow-lg p-3 mb-5 bg-white rounded">
                            <div class="card-body">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <h4> Author </h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Author.Email, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Author.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Author.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Author.Username, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Author.Username, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Author.Username, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Author.Password, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Author.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Author.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Author.Name, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Author.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Author.Name, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Author.Affiliation, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Author.Affiliation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Author.Affiliation, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Create account" class="btn btn-primary" style="width: 100%;" />
                                    </div>

                                    <div class="d-flex flex-row mx-auto">
                                        <div class="mr-2">
                                            <h4>Have an account already? </h4>
                                        </div>
                                        <input type="button" value="Login" class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("login","authors") + "'");"/>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


